# Metadata for your pipeline:
name: Example Pipeline
description: >
  This is an example pipeline. It uses files that are available in this repository 
  and SPARQL endpoints that should work.


# This is optional, by default it will be stored in the data directory of the pipeline using filename 'statements.nt'
destination: file://pipelines/data/example-pipeline.nt

# The individual stages for your pipeline
stages:
  - name: "Stage 1"
    iterator:
      query: file://static/example/iterator-stage-1.rq
      endpoint: https://api.triplydb.com/datasets/Triply/iris/services/demo-service/sparql
      delay: "5s"
    generator: 
      # First generator
      -  query: file://static/example/generator-stage-1-1.rq
         batchSize: 50
      # Second generator
      -  query: file://static/example/generator-stage-1-2.rq
  - name: "Stage 2"
    iterator: 
      query: file://static/example/iterator-stage-2.rq
    generator: 
      - query: file://static/example/generator-stage-2.rq
        endpoint: https://query.wikidata.org/sparql
