# Metadata for your pipeline:
name: Example Pipeline
description: >
  This is an example pipeline. It uses files that are available in this repository 
  and SPARQL endpoints that should work.


# This is optional, by default it will be stored in the data directory of the pipeline using filename 'statements.nt'
destination: file://../../data/example-pipeline.nt

# The individual stages for your pipeline
stages:
  - name: "Stage 1"
    iterator:
      query: file://iterator-stage-1.rq
      endpoint: https://api.triplydb.com/datasets/Triply/iris/services/demo-service/sparql
    generator:
      # First generator
      - query: file://generator-stage-1-1.rq
      # Second generator
      - query: file://generator-stage-1-2.rq
  - name: "Stage 2"
    iterator:
      query: file://iterator-stage-2.rq
    generator:
      - query: file://generator-stage-2.rq
        endpoint: https://query.wikidata.org/sparql
